:root {
	--snitch-size: 50px;
	--wing-width: calc(1.25*var(--snitch-size));
}

* {
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin:0;
	overflow: hidden; /*hides scroll bars when the snitch gets near the edge of the screen*/
	position: relative;
	background-image: url('hogwarts.jpg');
	background-size: cover;
	background-position: center 25%;
}

#snitch { /*width and height set in js file*/
	position:relative;
	width: var(--snitch-size);
	height: var(--snitch-size);
	
	transition-property: top left; /*every time I change these values w/ javascript, it will be smoothly animated*/
	transition-duration: 25ms; /*stand-in value, technically set based on fps in js file*/
	transition-timing-function: linear;
}

.wing img {
	width: 40%;
	opacity: 0.85;
	position: absolute;
}

.wing {
	position: absolute;
	z-index:4;
	top: 0;
	bottom: 0;
	margin: auto;

	/*center of wing container is at center of snitch, to make rotation easier*/
	width: calc(var(--snitch-size) + 2*var(--wing-width));
	left: calc(-1*var(--wing-width));

	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#leftWing {
	animation-name: flapLeft;
}

#rightWing {
	transform: scaleX(-1);
	animation-name: flapRight;
}

#ballPicture {
	position:absolute;
	z-index:6;
	width: var(--snitch-size);
	height: var(--snitch-size);
}

#ballPicture img {
	filter: blur(0.5px);
	width: var(--snitch-size);
	height: var(--snitch-size);
}

@keyframes flapLeft {
	from{transform: rotate(0deg);}
	25%{transform: rotate(-20deg);} /*rotate down (counterclockwise)*/
	75%{transform: rotate(30deg);} /*rotate up (clockwise)*/
	to{transform: rotate(0deg);}
}

@keyframes flapRight {
	from{transform: rotate(0deg) scaleX(-1);}
	25%{transform: rotate(20deg) scaleX(-1);}
	75%{transform: rotate(-30deg) scaleX(-1);}
	to{transform: rotate(0deg) scaleX(-1);}
}

#clickRegion {
	width: var(--snitch-size);
	height: var(--snitch-size);
	border-radius: 50%;
	position:absolute;
	z-index:10
}