html {
    background-color: black;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

main {
    padding-top: 65px; /* to dodge the page header */
    padding-bottom: 40px; /* to leave space for fade in animation */
    margin: 0 10vw 0 10vw;
    max-width: 900px;
}

.box_link {
    /*override anchor tag styling*/
    color: white;
    text-decoration: none;

    /*normal stuff*/
    font-size: 16px;
    margin-top: 24px;
    border: 1px solid #fff8;
    cursor: pointer;
    padding: 8px;
    background-color: #fff3;
    display: inline-block;
    transition-property: all;
    transition-duration: 250ms;
}
.box_link:hover {
    background-color: white;
    color: black;
}


/* header and navbar stuff */

#header {
    position: fixed;
    height: 85px;
    width: 100%;
    font-size: 18px;
    z-index: 10;
    background: linear-gradient(black, #000e 65%, transparent);
}
button:has(#hamburger) {
    display: none;
}
#hamburger {
    display: block; /* prevent extra space on bottom from inline styling */
    width: 30px;
    height: 30px;
}
#nav_blackout {
    display: none;
}
#header nav {
    display: flex;
    gap: 15px;
    padding: 15px;
    width: fit-content;
}
#close_sidenav {
    display: none;
}
#header nav a {
    text-decoration: none;
    color: white;
    width: fit-content;
    max-width: 60vw;
}
#header nav a::after {
    content: '';
    display: block;
    width: 0%;
    height: 1.5px;
    background-color: white;
}
#header nav a:hover::after {
    width: 100%;
}    
@media (hover: hover) {
    #header nav a::after {
       transition: width 0.15s;
    }    
}


@media (max-width: 420px) {
    button:has(#hamburger) {
        display: block;
        cursor: pointer;
        position: absolute;
        margin: 15px;
        padding: 0;
        background: none;
        border: none;
    }
    button:has(#hamburger):focus {
        outline: 1px solid white;
    }
    #nav_blackout {
        display: block;
        background-color: black;
        opacity: 0;
        width: 200vw;
        height: 0;
        position: absolute;
        top: -50vh;
        left: -50vw;
        transition: opacity 0.5s;
    }
    #header nav {
        flex-direction: column;
        height: 100vh;
        border-right: 1px solid gray;
        background-color: black;

        position: relative;
        left: -100vw;
        transition: left 0.5s;
        transition-timing-function: ease-in-out;
    }
    #close_sidenav {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        padding: 0;
        width: fit-content;
    }
    #header.nav-open #nav_blackout {
        opacity: 0.5;
        height: 200vh;
    }
    #header.nav-open nav {
        left: 0;
    }
}