body, html {
    height: initial;
}

body:has(.seeking) {
    user-select: none;
}

#page_title {
    font-size: 64px;
    margin: 48px 0 48px 0;
}


.year_label {
    margin: 0 0 48px 0;
    color: #ddd;
    font-weight: bold;
}


.track {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 36px;
    padding-bottom: 70px;

    color: #ddd;

    opacity: 0;
    position: relative;
    top: 40px;
    transition-property: all;
}
.track.fade_in {
    opacity: 1;
    top: 0;
    transition-duration: 1000ms;
}
@media (max-width: 500px) {
    .track {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
    }
}


.track a {
    color: #abf;
}


.track img {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 70px -10px rgba(255,255,255,0.3);
}
.track_title {
    font-family: "Life Savers";
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}
.track_description {
    margin: 0;
}




/* audio player */

.audio_player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0 12px 0;
}

button.play_pause {
    background-color: #333;
    padding: 0;
    cursor: pointer;
    border: none;
    /* border: 2px solid white; */
    width: 40px;
    height: 40px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.play_pause:active {
    transform: scale(0.9);
}
.play_pause_icon {
    /* play icon - see here for tutorial I followed: https://css-tricks.com/making-pure-css-playpause-button/ */
    box-sizing: border-box;
    width: 14px;
    height: 16px;
    border-style: solid;
    border-width: 8px 0px 8px 14px;
    border-color: transparent transparent transparent #ddd;
    transform: translateX(1px);
    transition: all 100ms;
}
.playing .play_pause_icon {
    /* if playing, show pause icon */
    border-style: double;
    border-width: 0px 0px 0px 14px;
    transform: translateX(0);
}


.time_and_seek {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.time_and_seek_top_row {
    display: flex;
    gap: 10px;
    width: 100%;
}


.time_display {
    white-space: nowrap;
    margin: 0;
}


.visualization_canvas {
    height: 20px;
    width: 100px;
    flex-grow: 1;
    opacity: 0;
    transition: opacity 1s;
}
.playing .visualization_canvas {
    opacity: 1;
}



.seek_bar_event_target {
    width: 100%;
    height: 20px; /* taller to more easily capture events */
    display: flex;
    align-items: center;
    cursor: pointer;
    touch-action: none; /* so that we don't drop the seeking to start scrolling by accident etc */
}
.seek_bar {
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    background-color: #333;
    border-radius: 2px;
    border-left: 0 solid #ddd;
    border-left-width: 0;
    display: flex;
    align-items: center;
}
.seek_handle {
    width: 12px;
    height: 12px;
    position: absolute; /* so it doesn't get chopped off by the right side of the seek bar div */
    border-radius: 6px;
    background-color: #ddd;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 100ms;
}
.seek_bar_event_target:hover .seek_handle {
    opacity: 1;
}
.seeking .seek_handle {
    opacity: 1;
}


