html {
    background-color: black;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Open Sans", sans-serif;
    
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    gap: 15px;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
}
#header a {
    text-decoration: none;
    color: white;
}
#header a:hover {
    font-weight: bold;
}

main {
    padding: 45px 10vw 0 10vw; /*side padding and dodge the page header*/
}