html {
    background-color: black;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Open Sans", sans-serif;
    
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    gap: 15px;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
    background-color: #000a;
    box-shadow: 0 0 10px 10px #000a;
}
#header a {
    text-decoration: none;
    color: white;
}
#header a:hover {
    font-weight: bold;
}

main {
    padding: 65px 10vw 0 10vw; /*side padding and dodge the page header*/
}


.box_link {
    /*override anchor tag styling*/
    color: white;
    text-decoration: none;

    /*normal stuff*/
    margin-top: 24px;
    border: 1px solid #fff8;
    cursor: pointer;
    padding: 8px;
    background-color: #fff3;
    display: inline-block;
    transition-property: all;
    transition-duration: 250ms;
}
.box_link:hover {
    background-color: white;
    color: black;
}