body {
	background-color: lightgray;
}

#canvas {
	background-color: white;
}

#varianceDisplay {
	display: inline;
}

#slopeDisplay {
	background-color: white;
}

#deltaSlopeDisplay {
	background-color: white;
	display: block;
	margin-top: 25px;
}