html {
	position: relative;
}

body {
	margin: 0;
	font-family: Open Sans, sans-serif;
	background-color: white;
}

#right_panel {
	position: fixed;
	top: 0;
	right: 0;
	background-color: black;
	width: 50%;
	height: 100%;
}

#main {
	position: absolute;
	margin-top: 20vh;
	width: 50%;
	z-index: 5;
}

#title_header {
	text-align: center;
	position: fixed;
	width: 50%;
	font-family: Alegreya;
	font-size: 30px;
	font-weight: bold;
	z-index: 10;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}

#title_header img {
	width: 175px;
	position: relative;
	top: -20px;
}

.entry {
	padding-left: 20px;
	padding-right: 20px;
}

#side_image {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 10%;
	width: 80%;
}