html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-image: url(flowers.jpg);
	background-size: cover;
}







#uploadDownloadWindow {
	display: block;
	z-index: 1;
	
	height: 300px;
	width: 500px;
	background-color: aliceblue;
	border: 4px solid cadetblue;
	
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#uploadDownloadWindow button {
	display: block;
	height: 50px;
	margin: 64px auto 64px auto; /*top right bottom left*/
	
	font-size: 18px;
}

#uploadDownloadWindow #download {
	display: none;
}

#x {
	display: none; /*don't want to close the uploadDownload window before something's been uploaded*/
	
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-color: cornflowerblue;
	
	position: absolute;
	right: 5px;
	top: 5px;
	
	line-height: 25px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: white;
	
	cursor: pointer;
}







#nonogram {
	position: absolute;
	
	border-collapse: collapse;
	white-space: pre;
	font-family: monaco, monospace;
	border-right: 3px solid cadetblue;
	border-bottom: 3px solid cadetblue;
	
	cursor: default;
	text-align: center;
}

#nonogram .topLeft {
	border-right: 3px solid cadetblue;
	border-bottom: 3px solid cadetblue;
	width: 20px; /*these function like min-width and min-height for some reason*/
	height: 20px;
}

#nonogram .colClue {
	background-color: aliceblue;
	border-top: 3px solid cadetblue;
	border-bottom: 3px solid cadetblue;
	border-right: 2px solid lightblue;
	padding: 3px 0;
	
}

#nonogram .rowClue {
	background-color: aliceblue;
	border-left: 3px solid cadetblue;
	border-right: 3px solid cadetblue;
	border-bottom: 2px solid lightblue;
	padding: 0 6px;
}

#nonogram .generic {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	padding: 1px 1px;
	
	background-color: white;
	border: 2px solid lightblue;
}












#clueInputter:focus{
	cursor: auto;
}