* {
	font-family: sans-serif;
}

p {
	margin: 0;
	margin-bottom: 5px;
}

.zoom_buttons {
	display: inline-block;
}

.zoom-in, .move, .zoom-out {
	width: 30px;
	display: block;
	padding: 5px;
	margin: 3px;
}

/* input stuff ----------------------------*/

canvas {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	display: inline-block;
	user-select: none;
}


/* output stuff ---------------------------*/

#output_container {
	position: relative;
	border-collapse: collapse;
	white-space: nowrap;
}

#table_container {
	padding-left: 10px;
	vertical-align: top;
}

#concordance_table {
	border-collapse: collapse;
	background-color: #ffffcc;
	border: 0.5px solid black;
	cursor: default;
	
	display: block;
	height: 500px;
	overflow-y: auto;
}

#concordance_table td {
	border: 1px solid black;
	padding: 5px;
	white-space: nowrap;
}

.justify_right {
	text-align: right;
}

tr#header {
	font-weight: bold;
	background-color: #ffcc33;
}