main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#page_title {
    order: -1;
    font-size: 48px;
    margin-bottom: 24px;
}

#adam_pic {
    width: 300px;
    max-width: 100%;
    margin-bottom: 24px;
}

#text_content {
    margin: 0;
}


@media (min-width: 850px) {
    main {
        display: block;
    }
    #adam_pic {
        float: right;
        margin-left: 48px;
    }
}