html {
    background-color: black;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Open Sans", sans-serif;
    
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

main {
    padding: 65px 10vw 0 10vw; /*side padding and dodge the page header*/
}

.box_link {
    /*override anchor tag styling*/
    color: white;
    text-decoration: none;

    /*normal stuff*/
    margin-top: 24px;
    border: 1px solid #fff8;
    cursor: pointer;
    padding: 8px;
    background-color: #fff3;
    display: inline-block;
    transition-property: all;
    transition-duration: 250ms;
}
.box_link:hover {
    background-color: white;
    color: black;
}


/* header and navbar stuff */

#header {
    position: fixed;
    height: 55px;
    width: 100vw;
    top: 0;
    font-size: 18px;
    z-index: 10;
    background: linear-gradient(black, #0009 80%, transparent);
}
#hamburger {
    display: none;
}
#nav_blackout {
    display: none;
}
#header nav {
    display: flex;
    gap: 15px;
    padding: 15px;
    width: fit-content;
}
#header nav a {
    text-decoration: none;
    color: white;
    width: fit-content;
    max-width: 60vw;
}
#header nav a:hover {
    font-weight: bold;
    border-bottom: 1.5px solid white;
    margin-bottom: -1.5px; /* offset effect of added border */
}


@media (max-width: 370px) {
    #hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        margin: 15px;
    }
    #nav_blackout {
        display: block;
        background-color: black;
        opacity: 0;
        width: 200vw;
        height: 0;
        position: absolute;
        top: -50vh;
        left: -50vw;
        transition: opacity 0.5s;
    }
    #header nav {
        flex-direction: column;
        height: 100vh;
        border-right: 1px solid gray;
        background-color: black;

        position: relative;
        left: -100vw;
        transition: left 0.5s;
        transition-timing-function: ease-in-out;
    }
    #header.nav-open nav {
        left: 0;
    }
    #header.nav-open #nav_blackout {
        opacity: 0.5;
        height: 200vh;
    }
}