#hello {
    font-size: 64px;
    user-select: none;
}

#intro {
    text-align: center;
}

body {
    overflow: hidden;
}

#background_image {
    background-image: url('images/stars.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    opacity: 0.5;
}

header#header {
    /*Override base styling*/
    background-color: initial;
    box-shadow: none;
}