.particle {
    z-index: -1;

    position: absolute;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: radial-gradient(var(--shadow-color), transparent);

    color: white;
    user-select: none;
    
    animation: fade 2000ms;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: var(--end-transform);
    }
}